<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hướng dẫn truy vấn trực tiếp trong cơ sở dữ liệu đồ thị</title>
    <style>
        body {
            display: flex;
        }
        img {
            display: block;
        }
        div {
            margin: 0 auto;
        }
        h2 {
            text-align: center;
        }
        h3 {
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <div>
        <h2>Hướng dẫn truy vấn trực tiếp trong cơ sở dữ liệu đồ thị</h2>
        <h3>Bước 1: Vào cơ sở dữ liệu đồ thị: <a href="http://20.89.120.44:7474/browser/" target="_blank">http://20.89.120.44:7474/browser/</a></h3>
        <h4>Giao diện khi truy cập thành công</h4>
        <img src="./../static/image/truycapcsdl.png" height="500px" width="auto" alt="">
        <h3>Bước 2: Tiến hành làm theo các bước bên dưới để kết nối vào csdl</h3>
        <img src="./../static/image/connect.png" height="500px" width="auto" alt="">
        <h4>Giao diện kêt nối thành công</h4>
        <img src="./../static/image/connectsuccess.png" height="500px" width="auto" alt="">
        <h3>Bước 3: Chọn cơ sở dữ liệu "khoaluan" để tiến hành truy vấn</h3>
        <img src="./../static/image/choncsdl.png" height="500px" width="auto" alt="">
        <h3>Bước 4: Tiến hành truy vấn cơ sở dữ liệu</h3>
        <img src="./../static/image/truyvancsdl.png" height="500px" width="auto" alt="">
        <h4 style="margin-bottom: 500px; font-size: 20px;">Đọc thêm về cú pháp truy vấn ngôn ngữ cypher <a href="https://neo4j.com/docs/cypher-manual/current/queries/">https://neo4j.com/docs/cypher-manual/current/queries/</a></h4>
        <p
        style="
          text-align: center;
          margin: 15px 0 5px 0;
          font-size: 12px;
          color: #afafaf;
        "
      >
        Made with by
        <a
          style="color: #afafaf"
          href="https://www.facebook.com/dothanhhauqnu"
          target="_blank"
          >Đỗ Thành Hậu</a
        >
      </p>
    </div>
</body>
</html>